*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    max-width: 70rem;
    margin: 0 auto;
    padding: 0 1rem;
}


$theme_green: #1CBAA0;

.nav_a{
    border-top: 1px solid black;
    border-top: 1px solid black;
}


.nav_a-inner{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    // padding: 1rem 0;
    

}

.nav_a{
    margin-top: .3rem;
    border-top: 1px solid #D0D0D0;
    border-bottom: 1px solid #D0D0D0;
}


.nav_a-inner{

    aside{
        display: flex;
        align-items: center;

        a{
            display: inline-block;
            padding: .5rem;
            color: #D0D0D0;
            text-decoration: none;

            &:hover{
                color: $theme_green;
            }
        }

        p{
            color: #777777;
    
        }
    }
    

    

    ul{
        list-style: none;
        display: flex;

        li{
            input{
                padding: .5rem;
                margin-left: .5rem;
                border: none;
            }
            button{
                padding: 1rem .5rem;
                border: none;
                background-color: green;
            }
                
        }

        li:nth-child(6) {
            padding-right: 1.5rem;
            border-right: 1px solid #D0D0D0;
            
        }

        
        

        a{
            display: inline-block;
            text-decoration: none;
            color: #777777;
            padding: 1rem .5rem;

            &:hover{

                color: #1BBA9E;
            }
        }
    }
}




