*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    max-width: 70rem;
    margin: 0 auto;
    padding: 0 1rem;
}


$theme_green: #1CBAA0;

.nav_a{
    border-top: 1px solid black;
    border-top: 1px solid black;
}


.nav_a-inner{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    // padding: 1rem 0;
    

}

.nav_a{
    margin-top: .3rem;
    border-top: 1px solid #D0D0D0;
    border-bottom: 1px solid #D0D0D0;
}


.nav_a-inner{

    aside{
        display: flex;
        align-items: center;

        a{
            display: inline-block;
            padding: .5rem;
            color: #D0D0D0;
            text-decoration: none;

            &:hover{
                color: $theme_green;
            }
        }

        p{
            color: #777777;
    
        }
    }
    

    

    ul{
        list-style: none;
        display: flex;

        li{
            input{
                padding: .5rem;
                margin-left: .5rem;
                border: none;
            }
            button{
                padding: 1rem .5rem;
                border: none;
                background-color: transparent;

                i{
                    color: #777777;
                    font-size: .8rem;
                }
            }
                
        }

        li:nth-child(6) {
            padding-right: 1.5rem;
            border-right: 1px solid #D0D0D0;
            
        }

        
        

        a{
            display: inline-block;
            text-decoration: none;
            color: #777777;
            padding: 1rem .5rem;

            &:hover{

                color: #1BBA9E;
            }
        }
    }
}


.logo_wrap-inner{
    display: flex;
    justify-content: space-between;
}

.logo_wrap-inner aside{
    display: flex;

    .company_name{

        h2{
            font-size: 1.7rem;
        }
        // p{
        //     width: 3.5rem;
        // }
    }
}


.logo_wrap-inner img{
    width: 3rem;
    margin-right: .5rem;
}

@media(max-width: 850px){
    .nav_a-inner aside span{
        display: none;
    }
}

@media(max-width: 620px){
    .nav_a-inner{
        justify-content: center;
    }

    .nav_a-inner aside{
        flex: 100%;
        max-width: 100%;
        justify-content: center;
    }
    .nav_a-inner ul{
        flex: 100%;
        max-width: 100%;
        justify-content: center;

        li:nth-child(6) {
            padding-right: 0;
            border-right: transparent;

            
            
        }

        li:nth-child(7) {
            
            input{
                width: 5rem;
                margin-left: 0;
            }
            
        }

    }
}

